html,
article.nextra-body-typesetting-article {
	/* font-size: 15px !important; */
}

/* footer,
:is(html[class~='dark'] .dark\:nx-bg-dark),
html[class~='dark'] body {
  background: #000 !important;
} */

.nextra-nav-container-blur {
	background: transparent !important;
}

/* html[class~='dark'] #hero {
  background: linear-gradient(to bottom, #111 50%, #2a2044af 100%),
    url(https://grainy-gradients.vercel.app/noise.svg);
} */

.gradient-bg {
	background: linear-gradient(#a788ec, #5e6ad2);
}

td,
th {
	border: none;
}

tr {
	background-color: transparent !important;
}

table * {
	border-color: rgba(134, 152, 165, 0.1) !important;
}

pre {
	background-color: rgba(160, 160, 160, 0.12) !important;
}

.nextra-code-block > div {
	background-color: rgba(134, 152, 165, 0.1) !important;
}

h1,
h2,
h3,
h4,
h5 {
	border-bottom: none !important;
}

img {
	border: none !important;
	border-radius: 12px;
}

article li a,
article p a,
article td a {
	color: #5e6ad2 !important;
	transition: color 0.2s ease;
}

html[class~="dark"] .nextra-sidebar-container button {
	color: white !important;
	font-weight: 600;
}

.nextra-sidebar-container button {
	color: black !important;
	font-weight: 600;
}

html[class~="dark"] *:not(pre) code {
	color: white !important;
}

*:not(pre) code {
	color: black !important;
}
