@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
	--color-fd-primary: #5e6ad2 !important;
}

html {
	font-size: 15px;
}

/* code {
	color: #f97583 !important;
} */
